<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"file:\\\D:\lib\hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/practice</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		<mapping class="com.annotation.simple.Customer"/>
		<mapping class="com.annotation.simple.Seller"/>
		<mapping class="com.annotation.collection.Student"/>
		
		<mapping class="com.annotation.inheritance.table_per_concreteclass.Student"/>
		<mapping class="com.annotation.inheritance.table_per_concreteclass.HighSchool"/>
		<mapping class="com.annotation.inheritance.table_per_concreteclass.PrimarySchool"/>
		<mapping class="com.annotation.inheritance.table_per_concreteclass.YellowTagged"/>
		<mapping class="com.annotation.inheritance.table_per_concreteclass.Genius"/>
		<mapping class="com.annotation.inheritance.table_per_concreteclass.Brainiac"/>
		<mapping class="com.annotation.inheritance.table_per_concreteclass.RedTagged"/>
		<mapping class="com.annotation.inheritance.table_per_concreteclass.Wicked"/>
		<mapping class="com.annotation.inheritance.table_per_concreteclass.Fighter"/>
		
		<mapping class="com.annotation.inheritance.table_per_class.Student"/>
		<mapping class="com.annotation.inheritance.table_per_class.HighSchool"/>
		<mapping class="com.annotation.inheritance.table_per_class.PrimarySchool"/>
		<mapping class="com.annotation.inheritance.table_per_class.YellowTagged"/>
		<mapping class="com.annotation.inheritance.table_per_class.Genius"/>
		<mapping class="com.annotation.inheritance.table_per_class.Brainiac"/>
		<mapping class="com.annotation.inheritance.table_per_class.RedTagged"/>
		<mapping class="com.annotation.inheritance.table_per_class.Wicked"/>
		<mapping class="com.annotation.inheritance.table_per_class.Fighter"/>
		
		<mapping class="com.annotation.inheritance.table_per_subclass.Student"/>
		<mapping class="com.annotation.inheritance.table_per_subclass.HighSchool"/>
		<mapping class="com.annotation.inheritance.table_per_subclass.PrimarySchool"/>
		<mapping class="com.annotation.inheritance.table_per_subclass.YellowTagged"/>
		<mapping class="com.annotation.inheritance.table_per_subclass.Genius"/>
		<mapping class="com.annotation.inheritance.table_per_subclass.Brainiac"/>
		<mapping class="com.annotation.inheritance.table_per_subclass.RedTagged"/>
		<mapping class="com.annotation.inheritance.table_per_subclass.Wicked"/>
		<mapping class="com.annotation.inheritance.table_per_subclass.Fighter"/>
	</session-factory>
</hibernate-configuration>
